@import url('https://fonts.googleapis.com/css?family=Raleway');

html,h1,h2,h3,h4,h5,h6,a{
    font-family: "Raleway";
}

.bg-img {
    background-image: url('https://mdbcdn.b-cdn.net/img/Photos/Others/images/76.webp');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.box {
    padding-top: 120px;
    border: transparent 1px solid;
    margin: 100px;
}

.img1 {
    border-radius:50%;
    float: left;
    margin: 40px;
    border-left: 6px solid green;
}

.section1 {
    margin: 180px;
    padding-top: 100px;
    line-height: 3.8;

}

.cent {
    text-align: center;

}

.row {
    margin: 55px;
    grid-gap: 100px;
}

#yo, #yo1 {
    text-align: center;
}

.col {
    border:  4px solid #233142;
    margin: 20px;
    padding: 25px;
}

h4 {
    text-align: center;
}

.yo3 {
    text-align: center;
}

.yo4 {
    text-align: center;
}

.bo {
    border-radius:50%;
    border-right: 6px solid orange;

}

.yo5 {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 220px;
}

#jsp {
    text-align: center;
}

.hey {
    display: flex;
    align-items: center;
}

.co1 {
    
}
